<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Batalla</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <div id="app">
    <header>
      <h1>Batalla</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monstro</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{width: monstro + '%'}"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Vostede</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{width: vostede + '%'}"></div>
        </div>
      </section>
      <section class="container" v-if="finPartida">
        <h2>Fin partida!</h2>
        <h3 v-if="resultado === 'perdiches'">Perdiches!</h3>
        <h3 v-if="resultado === 'ganaches'">Ganaches</h3>
        <h3 v-if="resultado === 'empate'">Empate</h3>
        <button @click="novaPartida">Novo xogo</button>
      </section>
      <section id="controls" v-else>
        <button @click="accionAtacar">ATAQUE</button>
        <button @click="accionEspecial" :disabled="botonDesactivado">ATAQUE ESPECIAL</button>
        <button @click="accionCurar">CURACIÓN</button>
        <button @click="renderse">RENDERSE</button>
      </section>
      <section id="log" class="container">
        <h2>Rexistro da batalla</h2>
        <ul>
          <li v-for="(entrada, index) in logBatalla" v-html="entrada">
            {{entrada}}
          </li>
        </ul>
      </section>
    </div>
  </div>

</body>

</html>