<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificadores de Eventos</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <div id="app">
        <!-- Apartado A -->
        <h3>Click con la rueda del ratón:</h3>
        <button @click.middle="mensaxe()">Imprimir mensaxe</button>

        <!-- Apartado B -->
        <h3>Caixa de texto onde ao pulsar calquera tecla se mostre o texto actual da caixa</h3>
        <input type="text" v-model="texto" placeholder="Escribe aquí">
        <p>{{ texto }}</p>

        <h3>Outra forma de facelo</h3>
        <input type="text" @keydown="actualizar" placeholder="Escribe aquí">
        <p>{{ texto }}</p>

        <!-- Apartado C -->
        <h3>Apartado C</h3>
        <input type="text" v-model="textoC" @keyup.enter="mostrarTexto" placeholder="Escribe e pulsa ENTER">
        <p>{{ textoParrafo }}</p>
    </div>

    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    texto: "",
                    textoC: "",
                    textoParrafo: ""
                }
            },
            methods: {
                mensaxe() {
                    console.log("Ola");
                },
                actualizar(event) {
                    this.texto = event.target.value;
                },
                mostrarTexto() {
                    this.textoParrafo = this.textoC; // mostra o texto no parágrafo
                    this.textoC = ""; // borra a caixa
                }
            }
        }).mount('#app');
    </script>

</body>

</html>
